<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head><title>Connexion</title></head>
<body>
<div layout:fragment="content">

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h4 class="card-title mb-4">Connexion</h4>

                    <div th:if="${error}" class="alert alert-danger"
                         th:text="${error}"></div>

                    <form method="post" action="/login">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email"
                                   class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mot de passe</label>
                            <input type="password" name="password"
                                   class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">
                            Se connecter
                        </button>
                    </form>

                    <p class="text-center mt-3 small">
                        Créer un compte pour gérer vos tâches ! <br>
                        <a href="/register">S'inscrire</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>